html {
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

#textEntryWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

.btn {
    padding: 3px;
    border: 2px black solid;
    margin: 4px;
}